<div class="modal" id="modal1" class="is-visible" data-animation="slideInOutLeft">
  <div class="modal-dialog">
    <header class="modal-header">
      <p>Novos termos de serviço</p>
      <button class="close-modal" aria-label="close modal" data-close> ✕ </button>
    </header>
    <section class="modal-content">
      <p class="modal-text"></p>
    </section>
    <footer class="modal-footer">
      <div class="modal-footer-div">
        <a class="modal-file modal-btn" href="" target="_blank">
          Ver termos
        </a>
        <p class="modal-accept modal-accept-disabled modal-btn">
          Aceitar termos
        </p>
      </div>
    </footer>
  </div>
</div>
